@import 'base';
@import '~normalize.css/normalize';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// Affects react-flexbox-grid styles
.container-fluid {
  max-width: 1200px;
  margin: 0 auto;
}

.full-width {
  flex: 1 0 0%;
  width: 100%;
}

// Book thumbnail

.book-thumb--shadow {
  box-shadow: 1px 1px 1px 0px #909090;
}

// Navbar

.navbar-default {
  background-color: #fff;
  border-style: dashed;
}

// Forms

.form-control, .input-group-addon, .form-group-lg, .form-group-lg .form-control {
  border-radius: 0;
}

.form-control, .input-group-addon {
  border: none;
  box-shadow: none;
  background: none;
  font-size: 18px;

  &:focus {
    box-shadow: none;
    border-bottom: 1px dashed $gray;
  }
}

.form-control {
  border-bottom: 1px dashed $gray-lighter;
}
