.book-thumb__container {
  margin-bottom: 20px;
  vertical-align: bottom;
  height: 400px;
  overflow-x: hidden;
  // #todo: honestly should use flexbox for this instead cuz of silly fixed height thing
}

.book-thumb__container-horizontal {
  width: 400px;
  float: left;
  margin-right: 30px;
  // #todo: honestly should use flexbox for this instead cuz of silly fixed height thing
}


.book-thumb__img {
  max-width: 100%;
  width: auto;
  max-height: 100%;
}
