.book-thumb__container {
  margin-bottom: 20px;
}

.book-thumb__container-horizontal {
  width: 400px;
  float: left;
  margin-right: 30px;
}

.book-thumb__img {
  @extend .book-thumb--shadow;
  width: 100%;
  height: auto;
}

.book-thumb--shadow {
  box-shadow: 1px 1px 1px 0px #909090;
}
