.day__container {
  &.complete {
    background-color: $brand-success;
  }
}

.day__panel-body {
  overflow-x: scroll;
  @media screen and (min-width: $screen-sm-min) {
    height: 150px;
  }
}

.day__book-container {
  margin-bottom: 8px
}

.day__thumb {
  max-height: 100px;
  width: auto;
  max-width: 100%;
}
